[[source]]
url = "https://$PKG_USERNAME:${PKG_PASSWORD}@pkg.crowdbotics.com/pypi/packages/stable/+simple"
verify_ssl = true
name = "crowdbotics"

[packages]
pip = "*"
build = "*"
twine = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
